<div class="container__big-card">
  <div class="big-card__photo">
    <img 
    src="https://img.freepik.com/fotos-gratis/blog-online_53876-123696.jpg?t=st=1741975358~exp=1741978958~hmac=6f979f877011db21aff60a0a56a6b19408e7e09a5709c39cae984b9a739731a7&w=1380"
    alt="Foto de um blog"
    height="260px"
    srcset=""
    />
  </div>
  <div class="big-card__title">
  <h1><a href="#">Novo Blog do Otavio</a></h1>
  </div>
  <div class="big-card__description">
    <p>
    <a href="#">   
        Este é o novo blog do Otavio, onde ele irá compartilhar suas experiências e conhecimentos sobre programação. Seja bem-vindo!
        Otavio é um programador que adora compartilhar conhecimento.
    </a>
    </p>
   </div>
</div>